@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ProjetoMyrp";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>O que deseja acessar?</p>
</div>
<header>
    <nav>
        <ul>
            <li><a asp-controller="clientes" asp-action="Index">Clientes</a></li>
            <li><a asp-controller="produtoes" asp-action="Index">Produtos</a></li>
            <li><a asp-controller="vendas" asp-action="Index">Vendas</a></li>
        </ul>
    </nav>
</header>